body {
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  background: url(abstract-minimal-blur-5k-jj-2560x1440.jpg) no-repeat;
  background-size: cover;
}

ul {
  margin: 10px;
  padding: 5px;
  list-style: none;
  color: white;
}

ul li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  line-height: 80px;
  text-align: center;
  float: center;
  width: stretch;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  /*opacity: 0.7*/
  text-decoration: none;
  display: block;
}

.login-box {
  width: 400px;
  height: 370px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin: 0 auto;
  margin-top: 80px;
  margin-left: 480px;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  padding-top: 20px;

  /*text-align: center;*/
}

hr {
  width: 300px;
  margin-bottom: 30px;
}

input {
  height: 35px;
  width: 250px;
  font-size: 18px;
  margin-bottom: 20px;
  padding-left: 40px;
}

#but1 {
  width: 120px;
  height: 35px;
  padding-left: 35px;
  padding-right: 40px;
  border-radius: 4px;
  transition: .3s;
  overflow: hidden;
  border: 1px solid #338033;
}

#but1:hover {
  background-color: rgba(50, 235, 59, 0.767);
}

#but1:focus {
    outline:none;
}

#but1:before {
    content:'';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 600px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
}

#but1:after {
    content:'';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255,0.2);
    width: 30px;
    height: 100px;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translate(-100px) scaleX(-15deg);
}

#but1:hover{
    background: #338033;
    cursor: pointer;
}

#but1:hover:before {
    transform: translate(300px) skewX(-15deg);
    opacity: 0.6;
    transition: 0.7s;
}

#but1:hover:after {
  transform: translate(300px) skewX(-15deg);
  opacity: 1;
  transition: 0.7s;
}


#but2 {
  width: 120px;
  height: 35px;
  padding-left: 26px;
  padding-right: 70px;
  border-radius: 4px;
  transition: .3s;
  overflow: hidden;
  border: 1px solid rgba(224, 45, 45, 0.808);
}

input[type="submit"] {
  padding: 0px 0px 0px 5px;
  margin: 7px 10px 10px 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgba(224, 45, 45, 0.808);
}

a {
  padding-top: 40px;
  text-decoration: underline;
  color: rgb(34, 192, 212);
}
a:hover {
  color: beige;
}

.cust{
    position: absolute;
    background:rgb(255, 255, 255);
    color: black;
    margin: 5px 5px 5px 8px;
}

#qwe {
  position: center;
  width: 400px;
  height: 10px;
  padding:  12px 20px;
  margin: 8px 26px;
}


.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


.modal-content {
  background-color: rgb(0, 0, 0);
  margin: 5px auto 15px auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 700px; /* Could be more or less, depending on screen size */
  height: 620px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  
  color: white;
  padding-top: 50px;
}

.cancelbtn {
  width: 120px;
  height: 35px;
  padding-left: 26px;
  padding-right: 70px;
  border-radius: 4px;
  transition: .3s;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  border-color: #f44336 ;
  color: rgb(255, 255, 255);
}

.cancelbtn:hover {
  width: 120px;
  height: 35px;
  padding-left: 26px;
  padding-right: 70px;
  border-radius: 4px;
  transition: .3s;
  overflow: hidden;
  background-color: rgb(202, 56, 56);
  
}

.signupbtn {
  width: 120px;
  height: 35px;
  padding-left: 26px;
  padding-right: 70px;
  border-radius: 4px;
  transition: .3s;
  overflow: hidden;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border-color: rgba(0, 255, 200, 0.932);
}

.signupbtn:hover {
  width: 120px;
  height: 35px;
  padding-left: 26px;
  padding-right: 70px;
  border-radius: 4px;
  transition: .3s;
  overflow: hidden;
  background-color: rgba(9, 255, 0,0.7);
  
}

/*  Checkbox  
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/*.container:hover input ~ .checkmark {
  background-color: #ccc;
}
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
*/